body {
    background-color: #000000;
    color: #ffffff;
}

.container {
    background-color: #1b1b1b;
    width: 70%;
    margin-left: 10%;
}

.each {
    width: 30%;
    border: #ffffff 1px solid;
    border-radius: 4px;
    margin: 4%;
    padding-left: 2%;
}