<div class="container">
    {{#each products}}
    <div class="each">
        <h3>{{title}}</h3>
        <p>Price: {{price}}</p>
        <p>Stock: {{stock}}</p>
        <p>Category: {{category}}</p>
    </div>
    {{/each}}
</div>